<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="icon" href="img/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/myscript.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" id='to-dashboard' href="/">Neervet Animal Clinic</a>
    </nav>
    <div class='container-fluid'>
        <div id='main-login'>
            <h1 class='display-4'>Login</h1>
            <form id='login-form' action='/login' method='POST'>
                <input type='hidden' id='input-hidden' action='hidden' href='/home'>
                <input type='text' name='username' class='form-control' placeholder="Username">
                <input type='password' name='password' class='form-control' placeholder="Password">
                <input type='hidden' id='home-hidden' href='/home'>
                <!-- <button type='button' id='btn-login' class='btn btn-primary' >Login</button> -->
                <button type='button' id='login-submit' class='btn btn-primary'>Login</button>
            </form>
            <div id='login-errors'>
                
            </div>
        </div>
    </div>
    
</body>
</html>