*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 0.125rem;
  }
  
::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: silver;
}
  
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.navbar-default{
    padding: 0px;
    background-color: #37474f;
    box-shadow: 0px 3px 5px #7893a0;
}

.navbar-default .navbar-brand{
    margin: 0px 50% 0px 0px;
    color: #eee;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

.navbar-default #logo{
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 20px;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    vertical-align: middle;
    display: inline-block;
}

.navbar-default #user-nav{
    width: 300px;
    height: 50px;
    margin: 0px 20px 0px 90px;
    color: #eee;
    text-align: right;
    display: inline-block;
    cursor: pointer;
}

.navbar-default #user-nav p{
    font-size: 18px;
    margin: 10px 5px 0px 0px;
    vertical-align: top;
    display: inline-block;
}

.navbar-default #user-nav .text-info{
    font-size: 18px;
    height: 50px;
    padding: 0px 10px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}

.navbar-default #user-nav .text-info span{
    margin: 10px 0px 0px 0px;
    display: inline-block;
}

.navbar-default #user-nav ul{
    margin-left: 87.5%;
}

.navbar-default #user-logout{
    display: inline-block;
    margin-right: 10px;
}

.navbar-default #user-logout .lead, .navbar-default #user-logout a{
    font-size: 18px;
    margin: 8px 5px 0px 0px; 
    color: #eee;
    display: inline-block;
}

.container-fluid{
    width: 100%;
    height: 611px;
    margin: 0px;
    padding: 0px;
    background-color: #d0d0d0;
}

.container-fluid #sidenav{
    margin: 0px;
    width: 15%;
    height: 100%;
    position: relative;
    background-color: #f8faff;
    display: inline-block;
}

.container-fluid .sub-menu a span{
    width: 50%;
    height: 30px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}

.container-fluid .sub-menu #down-arrow{
    width: 18px;
    height: 18px;
    margin: 5px 0px 5px 20px;
    display: inline-block;
}

.container-fluid .sub-menu ul{
    background-color:#f2f4f6;
}

.container-fluid .sub-menu ul li a{
    font-size: 15px;
    font-weight: normal;
    width: 80%;
    margin-left: 10%;
    padding: 5px 0px;
    color: #2c343d;
    text-decoration: none;
    display: inline-block;
}

.container-fluid .sub-menu ul li a img{
    width: 23px;
    height: 23px;
    display: inline-block;
}

.container-fluid #main-login{
    width: 30%;
    margin: 40px 35%;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
}

span.require{
    color: red;
}

#main-login h1{
    font-size: 30px;
    width: 100%;
    padding: 5px 0px;
    border-bottom: 2px solid #d0d0d0; 
    text-align: center;
    display: inline-block;
}

#main-login #login-errors{
    text-align: center;
    margin: 5px 0px;
}

#main-login #login-form{
    width: 95%;
    margin: 10px 2%;
    padding: 10px;
    display: inline-block;
}

#main-login #login-form input{
    width: 100%;
    margin: 10px 0px;
    display: inline-block;
}

#main-login #login-submit{
    width: 100%;
    display: inline-block;
}

#sidenav #navigation{
    width: 100%;
    margin: 0px;
    display: inline-block;
}

#navigation ul{
    margin: 0px;
    padding: 0px;
}

#navigation ul .lead{
    font-size: 25px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #d0d0d0;
    display: inline-block;
    text-align: center;
}

#navigation ul .sub-name{
    font-size: 14px;
    margin: 10px 0px 10px 20px;
    font-family: open-sans;
    color: #bcbcbc;
    display: inline-block;
}

#navigation ul li .lead{
    margin: 0px;
    padding: 5px 0px;
    font-size: 18px;
    border: 0px;
    font-weight: normal;
    text-decoration: none;
    color: #2c343d;
    text-align: left;
}

#navigation ul #help{
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

#navigation ul #help:hover{
    background: #f0eeee;
    color: black;
    cursor: pointer;
}

#navigation ul #help a{
    font-size: 18px;
    margin: 0px;
    padding: 5px 0px;
    font-weight: normal;
    display: inline-block;
}

#how-to-add-pet-record{
    color:#007bff;
    cursor: pointer;
}

#how-to-add-pet-record:hover{
    text-decoration: underline;
}

#navigation ul #help img{
    width: 23px;
    height: 23px;
    margin: 0px 0px 5px 0px;
    vertical-align: middle;
    display: inline-block;
}

#navigation ul li .lead:hover{
    background: #f0eeee;
    color: black;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

#navigation ul li a img{
    width: 23px;
    height: 23px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

#navigation .lead{
    font-size: 20px;
}

.container-fluid #main{
    width: 83%;
    height: calc(100% - 20px);
    margin: 10px 10px 0px 10px;
    padding: 0px;
    overflow: auto;
    border-radius: 10px 4px 4px 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

#helpModal #how-to-nav{
    width: 20%;
    margin: 0px;
    position: sticky;
    top: 0px;
    cursor: pointer;
    display: inline-block;
}

#helpModal #how-to-nav #list-example{
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 1px solid #d0d0d0;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#helpModal #how-to-main{
    width: 75%;
    margin: 0px 2%;
    padding-bottom: 350px; 
    display: inline-block;
    vertical-align: top;
}

#helpModal #how-to-main h4.lead{
    margin: 40px 0px 10px 20px;
    font-weight: normal;
    display: inline-block;
}

#helpModal #how-to-main p{
    margin: 0px 0px 40px 20px;
}

#helpModal #how-to-main h2.display-4{
    font-size: 30px;
    text-align: center;
}

#main h1{
    width: 100%;
    padding: 3px 0px; 
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid #d0d0d0;
    position: sticky;
    top: 0px;
    background-color: white;
    display: inline-block;
}

#main #profile form{
    width: 50%;
    margin: 10px 25%;
    padding: 20px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: right;
    display: inline-block;
    border-radius: 10px;
}

#main #profile form p.lead{
    margin-left: 20px;
    font-size: 20px;
    font-weight: normal;
    font-family: open-sans;
    text-align: left;
}

#main #profile form input{
    width: 350px;
    margin: 5px 50px 10px 10px;
    display: inline-block;
}

#main #profile form .form-group{
    margin: 5px 50px 10px 10px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #profile form .form-group input{
    width: 315px;
    margin: 0px;
    border: 0px;
    border-right: 1px solid #d0d0d0; 
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
}

#main #profile form .form-group img{
    width: 18px;
    height: 18px;
    margin: 0px 5px;
    vertical-align: middle;
    display: inline-block;
}

#main #profile form #save-profile{
    width: 120px;
    display: inline-block;
}

#main #add-user{
    margin: 10px 0px 10px 89%;
    display: inline-block;
}

#main #manage-user-table{
    width: 90%;
    height: 430px;
    margin: 0px 5%;
    overflow: auto;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #manage-user-table thead{
    text-align: center;
    position: sticky;
    top: 0;
} 

#main #manage-user-table tbody .delete{
    text-align: center;
}

#main #manageUserModal .modal-body{
    height: 500px;
    overflow: auto;
}

#main #manageUserModal form #user-errors, #main #profile form #profile-errors{
    text-align: center;
}

#main #manageUserModal form #user-errors .alert, #main #profile form #profile-errors .alert{
    width: 100%;
    display: inline-block;
}

#main #manageUserModal form{
    width: 95%;
    margin: 10px;
    text-align: right;
    display: inline-block;
}

#main #manageUserModal form .form-group{
    margin: 5px 60px 10px 10px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #manageUserModal form .form-group input{
    width: 200px;
    margin: 0px;
    border: 0px;
    border-right: 1px solid #d0d0d0; 
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
}

#main #manageUserModal form .form-group img{
    width: 18px;
    height: 18px;
    margin: 0px 5px;
    vertical-align: middle;
    display: inline-block;
}

#main #manageUserModal form p.lead{
    font-size: 20px;
    font-weight: normal;
    font-family: open-sans;
    text-align: left;
}

#main #manageUserModal form input, #main #manageUserModal form select {
    width: 230px;
    margin: 5px 60px 10px 10px;
    display: inline-block;
}

#main #manageUserModal form #save-user{
    width: 120px;
    margin: 10px 10% 10px 70%;
    display: inline-block;
}

#main #main-top{
    width: 90%;
    margin: 20px 5%;
    display: inline-block;
    /* border: 1px solid black; */
}

#main #main-top .main-box{
    width: 300px;
    margin: 20px 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#main #main-top #clients{
    background: rgb(148,189,219);
    background: linear-gradient(59deg, rgba(148,189,219,1) 0%, rgba(158,150,240,1) 26%, rgba(182,149,219,1) 71%, rgba(168,117,187,1) 100%);
}

#main #main-top #appointments-today{
    background: rgb(255,183,239);
background: linear-gradient(61deg, rgba(255,183,239,1) 0%, rgba(255,193,193,1) 22%, rgba(255,154,72,1) 100%);
}

#main #main-top .main-box .icon{
    width: 40px;
    height: 40px;
    margin: 20px 0px 10px 20px;
    opacity: 0.5;
    vertical-align: top;
    display: inline-block;
}

.main-box .lead-num{
    color: #eee;
    font-size: 30px;
    margin: 10px 0px 0px 60%;
    display: inline-block;
}

.main-box .lead-name{
    color: #eee;
    width: 100%;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
}

#main #search{
    display: inline-block;
    margin: 10px 54% 20px 55px;
}

#main #app-search{
    display: inline-block;
    margin: 10px 0px 20px 55px;
}

#main #app-search label{
    margin-left: 10px;
    display: inline-block;
}

#main #app-search input{
    display: inline-block;
}

#main #app-search .btn{
    vertical-align: top;
    display: inline-block;
}

#main #app-search .btn img{
    margin: 0px 0px 3px 0px;
    display: inline-block;
}

#main #search #search-client{
    width: 250px;
    display: inline-block;
}

#main #search .btn{
    vertical-align: top;
    display: inline-block;
}

#main #search .btn img{
    margin: 0px 0px 3px 0px;
    display: inline-block;
}

#main #search #search-client:focus, #main #app-search #search-appointment:focus{
    box-shadow: none;
}

#main #app-search #search-appointment{
    width: 250px;
    display: inline-block;
}

#main #app-search .form-control-sm{
    width: 200px;
}

#main #notification{
    margin-left: 75px;
    box-shadow: none;
}

#main #appointment-table{
    width: 90%;
    height: 70%;
    margin: 0px 5%;
    overflow: auto;
    display: inline-block;
    border: 1px solid #d0d0d0;
}

#main #appointment-table #app-today-action{
    width: 300px;
}

#main #appointment-table .complete-appointment{
    margin: 5px;
    display: inline-block;
}

#main #appointment-table .delete-appointment-today{
    margin: 5px;
    display: inline-block;
}

#main #appointment-table thead th{
    width: 220px;
}

#main #appointment-table thead #contact{
    width: 120px;
}

#main #appointment-table thead{
    text-align: center;
}

#main #appointment-table tbody td{
    font-size: 1.1vw;
    text-align: center;
}

#main #appointment-table .capitalize{
    text-transform: capitalize;
}

#main #appointment-table thead #action{
    width: 200px;
}

#main #appointment-table .btn-danger, #main #appointment-table .btn-success {
    padding: 5px 10px;
}

#main #notifModal .modal-body{
    overflow: auto;
}

#main #notifModal .modal-dialog{
    height: 600px;
}

#main #notifModal thead{
    text-align: center;
}

#main #notif-table{
    width: 100%;
    height: 400px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #client-table{
    width: 90%;
    height: 70%;
    overflow: auto;
    margin: 0px 5%;
    display: inline-block;
    border: 1px solid #d0d0d0;
}

#main #client-table thead th{
    width: 220px;
}

#main #client-table thead #contact{
    width: 120px;
}

#main #client-table thead #action{
    width: 200px;
}


#main #client-table thead{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
}

#main #client-table tbody td{
    font-size: 1.1vw;
}

#main #client-table .capitalize{
    text-transform: capitalize;
}

#main #client-table .td-action{
    padding: auto;
    text-align: center;
}

#main #client-table td .viewClient{
   margin-right: 5px;
}

#main #client-table td .deleteClient{
    margin-left: 5px;
}

#client-modal .modal-dialog .modal-content{
    height: 600px;
}

#client-modal .modal-body{
    overflow: auto;
}

#client-modal .modal-body #errors .alert{
    font-size: 18px;
    margin-bottom: 5px;
}

#client-modal #client-form{
    width: 100%;
    margin: 0px;
    padding: 0px 20px 10px 20px;
    display: inline-block;
} 

#client-modal #client-form #client-firstname{
    width: 100px;
    margin-right: 110px; 
    display: inline-block;
}

#client-modal #client-form .client-input{
    width: 180px;
    margin-bottom: 20px; 
    display: inline-block;
}

#client-modal #client-form #input-firstname{
    margin-right: 30px;
}

#client-modal #client-form #email, #client-modal #client-form #input-address{
    width: 300px;
}

#client-modal #client-form #errors .lead{
    font-size: 15px;
    margin: 5px 0px;
}

#main #client-page{
    width: 95%;
    margin: 10px 2%; 
    padding: 10px 0px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #client-back{
    margin: 0px 0px 20px 20px; 
    display: inline-block;
}

#main #client-page p{
    font-size: 18px;
    margin-left: 10px;
    font-weight: normal;
}

#main #client-page #name{
    width: 500px;
    margin-right: 42%;
    display: inline-block;
}

#main #client-page #edit-client-profile{
    display: inline-block;
}

#main #client-page p .lead{
    text-transform: capitalize;
}

#main #client-page p #email{
    text-transform: none;
}

#editClientModal #edit-client-form{
    width: 100%;
    margin: 0px;
    padding: 0px 20px 10px 20px;
    display: inline-block;
} 

#editClientModal #edit-client-form #client-firstname{
    width: 100px;
    margin-right: 110px; 
    display: inline-block;
}

#editClientModal #edit-client-form .client-input{
    width: 180px;
    margin-bottom: 20px; 
    display: inline-block;
}

#editClientModal #edit-client-form #input-firstname{
    margin-right: 30px;
}

#editClientModal #edit-client-form #email, #editClientModal #edit-client-form #input-address{
    width: 300px;
}

#editClientModal #edit-client-form #client-errors{
    font-size: 15px;
    margin: 5px 0px;
    text-align: center;
}


#main #add-client{
    vertical-align: middle;
    box-shadow: none;
    display: inline-block;
}

#main #add-appointment{
    margin-left: 78%;
    vertical-align: top;
    box-shadow: none;
    display: inline-block;
}

#main p #dateValue{
    width: 60px;
    display: inline-block;
}

#main #add-pet{
    margin: 10px 0px 0px 89%;
    box-shadow: none;
    display: inline-block;
}

#main #pet-section{
    width: 95%;
    height: 250px;
    margin: 20px 2%;
    overflow: auto;
    display: inline-block;
    border: 1px solid #d0d0d0;
}


#main #pet-section table thead{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#main #pet-section table tbody td{
    text-transform: capitalize;
}

#main #pet-section #th-action{
    width: 220px;
}

#main #pet-section tbody .center{
    text-align: center;
}

#main #pet-section .td-action{
    text-align: center;
}

#main #pet-section td .view-pet{
    margin-right: 5px;
}

#main #pet-section .delete-pet{
    margin-left: 5px;
}

#main #appointmentModal #appointment-form, #editAppModal #edit-appointment{
    width: 90%;
    margin: 10px 5%; 
    text-align: right;
    display: inline-block;
}

#main #appointmentModal #appointment-form input, #editAppModal #edit-appointment input{
    width: 250px; 
    margin: 10px 50px 0px 0px ;
    display: inline-block;
}

#main #appointmentModal #appointment-form label, #editAppModal #edit-appointment label{
    margin-bottom: 10px;
}

#appointmentModal #appointment-error, #editAppModal #appointment-errors{
    text-align: center;
}

#main #petModal #pet-form{
    font-weight: normal;
    display: inline-block;
}

#main #petModal #pet-modal-body .form-control{
    width: 200px;
    display: inline-block;
}

#main #petModal #pet-modal-body #examvet-input{
    margin: 10px 130px 60px 0px;
}

#main #petModal #pet-modal-body #name-input{
    width: 170px;
    margin: 0px 60px 20px 0px;
}

#main #petModal #pet-modal-body #datetime-input{
    width: 170px;
}

#main #petModal #pet-modal-body #birthdate-input{
    width: 170px;
    margin-bottom: 20px;
}

#main #petModal #pet-modal-body #breed-input{
    width: 165px;
}

#main #petModal #pet-modal-body .pet-input{
    width: 100px;
    margin-right: 10px;
}

#main #petModal #pet-modal-body .textarea-input{
    width: 230px;
    margin-right: 20px;
    display: inline-block;
    resize: none;
}

#main #petModal #pet-modal-body #complaint-label{
    margin-right: 40px;
    display: inline-block;
}

#main #petModal #pet-modal-body #currentmed-label{
    margin-right: 110px;
    display: inline-block;
}

#main #petModal #pet-modal-body #vitalsigns{
    width: 100%;
    margin: 20px 0px;
    display: inline-block;
}

#main #petModal #pet-modal-body #vitalsigns .lead{
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
}

#main #petModal #pet-modal-body #vitalsigns .vitalsign{
    width: 95px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
}

#main #petModal #pet-modal-body #vitalsigns #mm{
    width: 120px;
}

#main #petModal #system{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #petModal #pet-modal-body{
    height: 450px;
    overflow: auto;
}

#main #petModal #system table{
    margin: 0px;
}

#main #petModal #system table thead{
    text-align: center;
}

#main #petModal #system table td{
    margin: 0px;
    padding: 0px;
}

#main #petModal #system .conditions{
    width: 70px;
}

#main #petModal #system .conditions select{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#main #petModal #system table .findings{
    width: 450px;
}

#main #petModal #system table .findings .form-control{
    width: 100%;
    height: 30px;
    padding: 0px;
    margin: 0px;
    resize: none;
    border: 0px;
    display: inline-block;
}

#main #petModal #pet-modal-body #pet-error .alert{
    margin-bottom: 5px;
}

#main #labModal .modal-content .modal-body .lab-input{
    width: 100px;
    margin: 0px 30px 10px 0px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body .lab-select{
    width: 150px;
    margin: 0px 30px 25px 0px;
    display: inline-block;
}

#labModal .modal-content{
    height: 600px;
    
}

#labModal .modal-dialog .modal-body{
    height: 600px;
    overflow: auto;
}

#main #record-form #exam-vet{
    width: 300px;
    margin-right: 25%;
    display: inline-block;
}

#main #record-form #dateandtime{
    width: 200px;
    margin-bottom: 40px;
    display: inline-block;
}

#main #record-form .vitalsign-label{
    display: inline-block;
}

#main #record-form .vitalsign-input{
    width: 95px;
    margin-right: 10px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form label{
    margin-right: 5px;
}

#main #labModal .modal-content .modal-body #record-form .lab-textarea{
    width: 150px;
    margin-right: 180px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form textarea{
    width: 300px;
    height: 80px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: transparent;
    resize: none;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #diagnosis-procedure{
    width: 70%;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #complaint{
    width: 50%;
}

#main #labModal .modal-content .modal-body #record-form #current_med, #main #labModal .modal-content .modal-body #record-form #physical{
    width: 45%;
}

#main #labModal .modal-content .modal-body #record-form #currentmed-label{
    margin-right: 36%;
}


#main #labModal .modal-content .modal-body #record-form #system-table #system-findings{
    width: 70%;
}

#main #labModal .modal-content .modal-body #record-form #system-table td textarea{
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #xray{
    width: 70%;
}

#main #labModal .modal-content .modal-body #record-form #differential{
    width: 55%;
    margin-top: 10px;
}

#main #labModal .modal-content .modal-body #record-form #def-lab{
    margin: 0px;
    vertical-align: top;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #definitive{
    width: 55%;
    margin-left: 8px;
}

#main #labModal .modal-content .modal-body #record-form #treatment-label{
    width: 280px;
    margin-right: 21%;
}

#main #labModal .modal-content .modal-body #record-form #treatment{
    width: 45%;
    margin-right: 20px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #prescribed{
    width: 45%;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #comments{
    width: 55%;
    margin-top: 10px;
    display: inline-block; 
}

#main #labModal .modal-content .modal-body #record-form #next-app{
    width: 250px;
    margin: 0px 20px 0px 15px;
    display: inline-block;
}

#main #labModal .modal-content .modal-body #record-form #title{
    width: 250px;
    margin-left: 15px;
    display: inline-block;
}

#main #pet-back{
    margin: 0px 0px 20px 20px; 
    display: inline-block;
}

#main #pet-page{
    width: 95%;
    margin: 10px 2%;
    padding: 10px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #pet-page #name{
    width: 400px;
    margin-right: 53%;
    display: inline-block;
}

#main #pet-page #edit-pet{
    display: inline-block;
}

#main #pet-page p{
    font-size: 18px;
    font-weight: normal;
}

#main #pet-page #owner-name span{
    text-transform: capitalize;
    display: inline-block;
}

#main #pet-page #vet{
    display: inline-block;
}

#main #pet-page p .lead{
    font-size: 20px;
}

#main .h1-healthrecord{
    width: 95%;
    margin: 10px 2%;
    display: inline-block;
}

#main #healthRecordTable{
    width: 95%;
    height: 400px;
    margin: 10px 2%;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #healthRecordTable thead{
    text-align: center;
}

#main #healthRecordTable thead #action{
    width: 350px;
}

#main #healthRecordTable tbody .btn-view span{
    margin: 0px 5px;
    display: inline-block;
}

#main #healthRecordTable tbody .date{
    text-align: center;
}

#main #healthRecordTable tbody td{
    text-transform: capitalize;
}

#main #healthRecordTable .btn-view{
    text-align: center;
}

#main #add-pet-record{
    margin-left: 89%;
    display: inline-block;
}

#main #petRecordModal #pet-form{
    font-weight: normal;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #pet-record-form #record-errors .alert{
    margin-bottom: 5px;
}

#main #petRecordModal #pet-modal-body .form-control{
    width: 200px;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #examvet-input{
    margin: 10px 130px 60px 0px;
}

#main #petRecordModal #pet-modal-body #name-input{
    width: 170px;
    margin: 0px 60px 20px 0px;
}

#main #petRecordModal #pet-modal-body #datetime-input{
    width: 170px;
}

#main #petRecordModal #pet-modal-body #birthdate-input{
    width: 170px;
    margin-bottom: 20px;
}

#main #petRecordModal #pet-modal-body .pet-input{
    width: 100px;
    margin-right: 10px;
}

#main #petRecordModal #pet-modal-body .textarea-input{
    width: 230px;
    margin-right: 20px;
    display: inline-block;
    resize: none;
}

#main #petRecordModal #pet-modal-body #complaint-label{
    margin-right: 40px;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #currentmed-label{
    margin-right: 110px;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #vitalsigns{
    width: 100%;
    margin: 20px 0px;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #vitalsigns .lead{
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #vitalsigns .vitalsign{
    width: 95px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
}

#main #petRecordModal #system{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #d0d0d0;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body{
    height: 450px;
    overflow: auto;
}

#main #petRecordModal #system table{
    margin: 0px;
}

#main #petRecordModal #system table thead{
    text-align: center;
}

#main #petRecordModal #system table td{
    margin: 0px;
    padding: 0px;
}

#main #petRecordModal #system .conditions{
    width: 70px;
}

#main #petRecordModal #system .conditions select{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#main #petRecordModal #system table .findings{
    width: 450px;
}

#main #petRecordModal #system table .findings .form-control{
    width: 100%;
    height: 30px;
    padding: 0px;
    margin: 0px;
    resize: none;
    border: 0px;
    display: inline-block;
}

#main #petRecordModal #pet-modal-body #pet-error .alert{
    margin-bottom: 5px;
}

#editPetModal #edit-pet-info .form-control{
    width: 80px;
    margin-right: 20px;
    display: inline-block;
}

#editPetModal #edit-pet-info #name, #editPetModal #edit-pet-info #birthdate{
    width: 200px;
    margin-bottom: 10px; 
}

#editPetModal #edit-pet-info #breed{
    width: 150px;
    margin-bottom: 10px; 
}

#editPetModal #edit-pet-info #pet-info-errors{
    margin-top: 10px;
    text-align: center;
}

#viewHealthRecordModal .modal-content{
    height: 640px;
    
}

#viewHealthRecordModal .modal-dialog .modal-body{
    height: 600px;
    overflow: auto;
}

#viewHealthRecordModal .modal-body #diagnosis-procedure{
    background-color: transparent;
    resize: none;
    display: inline-block;
}

#main #record-content{
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#main #record-content #left{
    width: 55%;
    height: 290px;
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
}

#main #record-content #right{
    width: 44%;
    height: 310px;
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
}

#main #record-content #left p.lead, #main #record-content #right p.lead{
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0px;
    display: inline-block;
}

#main #record-content span{
    font-size: 15px;
}

#main #record-content #left #contact{
    margin-bottom: 30px;
}

#main #record-content #left #complaint-textarea{
    width: 80%;
    height: 80px;
    resize: none;
    outline: none;
    background-color: transparent; 
    display: inline-block;
}

#main #record-content #right #petname{
    width: 220px;
    margin-right: 10px;
    display: inline-block;
}

#main #record-content #right #addate{
    margin-left: 57%;
}

#main #record-content #right #species, #main #record-content #right #breed{
    margin-right: 20px;
}


#main #record-content #right #color{
    margin-left: 30px;
}

#main #record-content #right p.display-3{
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
    display: inline-block;
}

#main #record-content #right #weight, #main #record-content #right #resp, #main #record-content #right #crt{
    width: 150px;
    margin-right: 40px;
}

#main #record-content #head{
    margin-bottom: 10px; 
    border-bottom: 1px solid black; 
    display: none;
}

#main #record-content #head h1{
    font-size: 20px;
    border: 0px;
}

#main #record-content #head p.display-3{
    font-size: 18px;
    text-align: center;
}

#main #record-content p.lead{
    font-size: 15px;
    font-weight: normal;
    font-family: open-sans;
    text-align: left;
   
    display: inline-block;
}

#main #record-content p.lead span{
    text-transform: capitalize;
}

#main #record-content #exam-vet{
    width: 500px;
    margin-right: 15%;
}

#main #record-content #mid{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#main #record-content #mid p.lead{
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0px;
    display: inline-block;
}

#main #record-content #mid #currentmed, #main #record-content #mid #currentmed{
    width: 40%;
}

#main #record-content #mid #current-textarea, #main #record-content #mid #physical-textarea{
    width: 40%;
    height: 80px;
    resize: none;
    background-color: transparent;
    display: inline-block;
}

#main #record-content #mid #current-textarea, #main #record-content #mid #currentmed {
    margin-right: 40px;
}

#main #record-content #mid #system-table{
    width: 100%;
    height: 405px;
    margin: 10px 0px;
    display: inline-block;
}

#main #record-content #mid #system-table thead{
    text-align: center;
}

#main #record-content #laboratory{
    font-size: 18px;
    text-align: center;
}

#main #record-content #lab p.lead{
    width: 200px;
    display: inline-block;
}

#main #record-content #lab #earmites{
    width: 300px;
    display: inline-block;
}

#main #record-content #lab p.lab-text{
    margin-right: 10px;
}

#main #record-content #lab textarea{
    width: 220px;
    height: 60px;
    margin-right: 25px;
    resize: none;
    background-color: transparent;
    display: inline-block;
}

#main #record-content #lab #xray{
    width: 50%;
    height: 60px;
    resize: none;
    background-color: transparent;
    display: inline-block;
}

#main #record-content .diagnosis{
    width: 100%;
   
    display: inline-block;
}

#main #record-content #treatment-label{
    width: 300px;
    margin-right: 60px;
    display: inline-block;
}

#main #record-content #treatment{
    width: 45%;
    height: 100px;
    margin-right: 20px;
    resize: none;
    background-color: transparent;
    display: inline-block;
}

#main #record-content #prescribed{
    width: 45%;
    height: 100px;
    resize: none;
    background-color: transparent;
    display: inline-block;
}

#main #record-content #comments{
    width: 100%;
    background-color: transparent;
    resize: none;
    display: inline-block;
}

#main #pet-report{
    height: 500px;
    overflow: auto;
}

#pet-report #head{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

#pet-report #head img{
    width: 20%;
    height: 20%;
    display: inline-block;
}

#pet-report #head h1.display-1{
    font-size: 25px;
    border: 0px;
    margin-top: 30px;
    font-weight: bold;
}

#pet-report #head h2.display-4{
    font-size: 25px;
    display: inline-block;
}

#pet-report #head p.lead{
    font-size: 18px;
    margin: 0px;
    display: inline-block;
}

#pet-report p.lead{
    font-size: 18px;
    font-weight: normal;
}

#pet-report p span.lead{
    font-size: 18px;
    text-transform: capitalize;
}

#main #backup-restore-form #backup, #main #backup-restore-form #restore-form{
    width: 50%;
    padding: 10px;
    margin: 10px 0px 20px 25%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    display: inline-block;
}

#main #backup-restore-form #backup, #main #backup-restore-form #restore-form{
    display: inline-block;
}

#main #backup-restore-form #backup p.lead, #main #backup-restore-form #restore-form p.lead{
    font-family: open-sans;
}

#main #backup-restore-form #backup #backup-now, #main #backup-restore-form form #restore-now{
    width: 120px;
    margin: 10px 0px 10px 77%;
    display: inline-block;
}


#main #backup-restore-form form #restore-now #spinner{
    width: 15px;
    height: 15px;
}

@media print{
    @page{
        margin: 0in 1in;
        font-weight: bold;
    }
    #head{
        width: 100%;
        padding-bottom: 60px;
        text-align: center;
        display: inline-block;
    }

    #head img{
        width: 30%;
        height: 20%;
        margin: 0px 35%;
        display: inline-block;
    }

    #head h2.display-4{
        font-size: 2em !important;
        font-weight: bold;
    }

    #head h1.display-1{
        font-size: 2em !important;
        font-weight: bold;
    }

    #head p.lead{
        font-size: 1.3em !important;
        margin: 0px;
        display: inline-block;
    }

    #content p.lead{
        font-size: 1.3em !important;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold !important;
        
    }

    #content p span.lead{
        font-size: 0.9em !important;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-weight: bold;
    }
    
}