<h1 class='display-4'>Backup / Restore</h1>
<div id='backup-restore-form'>

    <div id='backup'>
        <p class='lead'>Backup</p>
        <div id='errors'></div>
        <a id='backup-now' class='btn btn-info' href='/backup' download>Backup Now</a>
    </div>

    <form id='restore-form' action='/restore' enctype="multipart/form-data" method="POST">
        <p class='lead'>Restore</p>
        <input type='file' id='sqlfile' name='file' accept=".sql" class='form-control-file'>
            
        <button type='button' id='restore-now' class='btn btn-info' ><div id='spin'>Restore Now</div></button>
    </form>
    
</div>

