<h1 class='display-4'>Manage Users</h1>
<button type='button' id='add-user' class='btn btn-primary' data-toggle="modal" data-target="#manageUserModal">+ Add</button>
<div id='manage-user-table'>
    <table class='table table-bordered '>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>User Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < users.length; i++){ %>
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].user_level %></td>
                    <td class='delete'><button type='button' id='delete-user' class='btn btn-danger' href='/deleteUser/<%= users[i].id %>'>Delete</button></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<!-- MANAGE USER MODAL -->

<div class="modal fade" id="manageUserModal" tabindex="-1" role="dialog" aria-labelledby="ManageUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ManageUserModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id='add-user-form' action="/addUser" method='POST'>
                    <div id='user-errors'></div>
                <p class='lead'>Personal Info</p>
                <label for='firstname'>First name: </label>
                <input type='text' name='firstname' class='form-control'><br>
                <label for='lastname'>Last name: </label>
                <input type='text' name='lastname' class='form-control'><br><br>
                <p class='lead'>Account</p>
                <label for='username'>Username: </label>
                <input type='text' name='username' class='form-control'><br>
                <label for='password'>Password: </label>
                <div class='form-group'>
                    <input type='password' id='user-password' name='password' class='form-control'><img id='view-password' src='img/closeeye.png'><br>
                </div>
                
                <label for='confirmpassword'>Confirm Password: </label>
                <div class='form-group'>
                    <input type='password' id='user-confirm-password' name='confirmpassword' class='form-control'><img id='view-confirm-password' src='img/closeeye.png'><br>
                </div>
                
                <label for='userlevel'>User level: </label>
                <select name='userlevel' class='form-control'>
                    <option value='Staff'>Staff</option>
                    <option value='Admin'>Admin</option>
                </select>
               
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id='save-user' class="btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
  </div>