<form id='pet-record-form' action='/addPetRecord/<%= client %>/<%= petid %>' method='POST'>
    <div id='record-errors'></div>
    <label for='examvet'>Examining Vet:<span class='require'>*</span> </label>
    <select id='examvet-input' class='form-control' name='exam_vet'>
        <option value="Dr. Ken Oliver O. Badua">Dr. Ken Oliver O. Badua</option>
        <option value="Dr. Annie N. Nacis">Dr. Annie N. Nacis</option>
        <option value="Dr. Danni Lou O. Manuel">Dr. Danni Lou O. Manuel</option>
        <option value="Dr. Jacques Glenn G. Apigo">Dr. Jacques Glenn G. Apigo</option>
    </select>
    <label for='datetime'>Date and Time:<span class='require'>*</span> </label>
    <input type='datetime-local' id='datetime-input' class='form-control datetime-input' name='created_at'><br>
    <label for='complaint/history' id='complaint-label'>Complaints/Concerns/History:<span class='require'>*</span> </label>
    <label for='currentmed' id='currentmed-label'>Current Medication: </label>
    <label for='physicalexam' >Physical Exam:<span class='require'>*</span> </label><br>
    <textarea name='complaint' id='complaint' class='form-control textarea-input'></textarea>
    <textarea name='current_med' id='currentmed' class='form-control textarea-input'></textarea>
    <textarea name='physical_exam' id='physicalexam' class='form-control textarea-input'></textarea>

    <div id='vitalsigns'>
        <p class='lead'>Vital signs</p>
        <label for='weight'>Weight/BCS:<span class='require'>*</span> </label>
        <input type='text' name='weight' class='form-control vitalsign'>
        <label for='temp'>Temp:<span class='require'>*</span> </label>
        <input type='number' name='temp' class='form-control vitalsign'>
        <label for='respiratory_rate'>Resp. rate:<span class='require'>*</span> </label>
        <input type='text' name='resprate' class='form-control vitalsign'>
        <label for='heart_rate'>Heart rate:<span class='require'>*</span> </label>
        <input type='text' name='heartrate' class='form-control vitalsign'>
        <label for='crt'>CRT:<span class='require'>*</span> </label>
        <input type='text' name='crt' class='form-control vitalsign'>
        <label for='mm'>MM: </label>
        <select name='mm' id='mm' class='form-control vitalsign'>
            <option value='Not pale'>Not Pale</option>
            <option value='Pale'>Pale</option>
        </select>
    </div>

    <div id='system'>
        <table class='table table-bordered'>
            <thead class='table-dark'>
                <tr>
                    <th>Systems</th>
                    <th>Condition</th>
                    <th>Findings/Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General Apperance</td>
                    <td class='conditions'><select name='generalApp' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='genappfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Teeth/Mouth</td>
                    <td class='conditions'><select name='teethmouth' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='teethmouthfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Eyes</td>
                    <td class='conditions'><select name='eyes' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='eyesfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Ears</td>
                    <td class='conditions'><select name='ears' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='earsfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Skin/Coat</td>
                    <td class='conditions'><select name='skincoat' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='skincoatfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Heart/Lungs</td>
                    <td class='conditions'><select name='heartlungs' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='heartlungsfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Digestive</td>
                    <td class='conditions'><select name='digestive' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='digestivefindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>musculoskeletal</td>
                    <td class='conditions'><select name='musculoskeletal' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='musculoskeletalfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Nervous</td>
                    <td class='conditions'><select name='nervous' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='nervousfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Lymph nodes</td>
                    <td class='conditions'><select name='lymph' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='lymphfindings' class='form-control'></textarea></td>
                </tr>
                <tr>
                    <td>Urogenitals</td>
                    <td class='conditions'><select name='urogenitals' class='form-control'>
                            <option value='Normal'>Normal</option>
                            <option value='Abnormal'>Abnormal</option>
                        </select>
                    </td>
                    <td class='findings'><textarea name='urogenitalsfindings' class='form-control'></textarea></td>
                </tr>
            </tbody>
        </table>

    </div> -->
</form>